<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/d11b5064a9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>Felipe & Charlotte's Wedding!</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
    html {
      background-color:#F9F6EE;
    }
    *{
      font-family: "Bodoni Moda", serif;
      font-optical-sizing: auto;
    }
    .ff{
      font-family: "Bodoni Moda", serif;
      font-optical-sizing: auto;
    }

    .secondary{
      background-color: #b49ccc;
      color: #F9F6EE;
      font-weight: bold;
    }
    .ultralarge{
      font-size:60px;
    }
    .extralarge{
      font-size:40px;
    }
  </style>
</head>
<body class="container is-max-tablet bodoni-moda-font">
    <section class="hero">
    <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title extralarge">Save The Date!</p>
      <div class="is-underlined
       container has-text-centered 
       title ultralarge">
        08.03.27
      </div>
      {{!-- <p class="subtitle mt-3">
      We have now planned a date for our wedding, and would appreciate if 
      you could leave the adjacent time available in case of a formal invitation
      </p> --}}
    </div>
    </div>
    <div class="container">
      <img src="/savethedate.png"
           alt="us"
           width="200px">
    </div>
  </section>
</body>
</html>